
/* Main content area */
.main-content {
  margin-left: 10%; /* Space for sidebar */
  width: 70%;
  top: 10px;
  bottom: 10px;
  display: flex;
  flex-direction: column;
  height: 100%; /* Ensure it takes up full height */
}

.search{
  width: 70%;
  bottom: 0%;
}

/* Scrollable table container */
.table-container {
  left: 0%;
  top: 10px;
  bottom: 10px;
  right: 0%;
  max-height: 90%; /* Set your desired max height */
 /* Enable vertical scrolling */
}

/* Styling for tables or other content */
.table {
  width: 100%;
  left: 0%;
  right: 10%;
  border-collapse: collapse;
  border: 1px solid #ddd; 
}

.table th, .table td {
  padding: 5px;
  text-align: left;
  border: 1px solid #ddd; /* Border for table cells */
}

.table th {
  background-color: #f4f4f4; /* Background for table headers */
}

.table-striped tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}

.table-striped tbody tr:nth-child(even) {
  background-color: #fff;
}

.text-warning, .text-danger, .text-info {
  margin: 10px 0;
}

/* Ensure the input is styled correctly */
.form-control {
  width: 100%;
  margin-bottom: 20px;
}
