.sidebar{
    background-color: #5e4580;;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: fixed;
    width: 20%;
    left: 0;
    align-items: center;
    z-index: 999;
    top: 0;

}

/* side bar top  */
.sidebar-top{
    display: flex;
    flex-direction: column;
    width: 100%;

}
/* side bAR -BRAND */
.sidebar-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.sidebar-brand span{
    color: white;
    font-weight: bold;
    font-size: 1.2rem;

}
.sidebar-brand svg{
    color: white;
    font-size: 1.5rem;
    margin-right: 2px;
}
/* sidebar links */
.sidebar-links{
    display: flex;
    flex-direction: column;

}
/* target the ul  */

.sidebar-links ul{
    list-style: none;
    padding: 1rem;
}
/* target the li  */
.sidebar-links li{
    text-align: left;
    border-radius: 0.5;
    margin: 5px;
    padding: 0.5rem;

}

/* hoversidebar links  */
.sidebar-links  ul li:hover{
    background-color: black;
   
}

.sidebar-links a{
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
}

/* style react icon inside sideber  */
.sidebar-links svg{
    fill:brown;
    margin-right: 10px;
    font-size: 1.5rem;
}

/* sidebar b00tom */
.sidebar-bottom{
    width: 80%;
    background-color: #f76c8a;
    display: flex;
    border-radius: 10px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sidebar-bottom svg{
    fill:white;
    font-size: 3rem;

}
/* target the span   */
.sidebar-bottom span{
    color: white;
    margin-top: 5px;

}
/* style the logout division  */
/* .sidebar-logout{
    fill :red;
} */